// COLORS
$primary: #1ed760;
$secondary: #0e0e0e;
$terciary: #FAFAFA;
$bg-color: $secondary;
$blue: #044877;
$blue-dark: #1E3259;
$blue-light: #67CBEB;
$purple: #609;
$orange: #E08F00;
$green: #00C462;
$white: #FFF;
$black: #000;
$gray-dark: #333;
$gray-md: #666;
$gray-light: #999;
$pink: #EB3C7D;
$red: #FF001F;
$yellow: #FED00D;
$gold: #F5970B;
$soft: #F6F8F9;
$body-bg: $soft;

// FONTS
$trebuchet: 'Trebuchet MS';
$roboto: 'Roboto';
$font-default: $roboto, cursive;
$font-base-family: $roboto;
$font-base-size: '16px';
$line-base-line-height: '1.2em';

// SIZES
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large-width: 1344px;

// MEDIA QUERIES
$desktop-large: "(min-width: 1600px)";
$tablet: "(max-width: 1200px)";
$mobile: "(max-width: 767px)";
$iphone4: "(max-height: 530px)";
$iphone5: "(max-height: 630px)";
$iphoneX: "(min-height: 800px)";
