@import "./Styles/styles.scss";

.App {
  background: $secondary;
  min-height: 100vh;

  .wrapper {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    padding-top: 80px;

    @include maxWidth(1420) {
      width: 86%;
      max-width: 86%;
      padding-top: 110px;
    }
  }

  .main-logo {
    width: 70px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}